/* SIDEBAR STYLING ATTRIBUTES */
.sidebar {
  position: relative;
  background-color: #222f3e;
  color: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  border-radius: 20px;
}

.sidebar li {
  list-style: none;
  padding: 1rem 2rem;
  border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 300;
}

.query-icon {
  width: 30px;
  height: 30px;
}

.feedback-icon {
  width: 30px;
  height: 30px;
}

.sidebar li:hover {
  color: black;
  cursor: pointer;
}

/* ********** SIDEBAR STYLING ATTRIBUTES END********** */

/* ****** CONTENT TO THE RIGHT OF SIDEBAR ********* */

.main-content {
  display: flex;
  flex-direction: row;
}

.rightside-content {
  margin-left: 290px;
}

.options-container {
  background-color: #222f3e;
  color: white;
  top: 0;
  left: 0;
  height: auto;
  width: 280px;
  border-radius: 20px;
}

.options-container button {
  padding: 1rem 2rem;
  border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 300;

  text-align: center;
  margin-bottom: 8px;
  width: 280px;
  font-weight: 300;
  border-radius: 10px;
  display: inline-block;
  height: 30px;
  background-color: #222f3e;
  color: white;
  margin-bottom: 5px;
  border: solid;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: transform 0.4s;
}

.options-container button:hover {
  transform: translateY(-3px);
  background-color: black;
}

/* TEST CONCESSION FORM STYLING */

.test-form-container {
  left: 0;
}

.test-form-container input {
  margin-bottom: 15px;
  height: 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

.test-form-container input:hover {
  background-color: white;
}

.student-number-label {
  color: black;
}

.test-number-label {
  color: black;
}

.test-document-label {
  color: black;
}

/* ******* TEST CONCESSION FORM STYLING END *******************/

/* JOIN VULA COURSE SITE FORM STYLING */
.site-form-container {
  left: 0;
}

.site-form-container input {
  margin-bottom: 15px;
  height: 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

.site-form-container input:hover {
  background-color: white;
}

.student-number-label {
  color: black;
}

.site-document-label {
  color: black;
}

/* *******  JOIN VULA COURSE SITE FORM STYLING END *********/

/* ASSIGNMENT EXTENSION FORM STYLING */
.extension-form-container {
  left: 0;
}

.extension-form-container input {
  margin-bottom: 15px;
  height: 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

.extension-form-container input:hover {
  background-color: white;
}

.student-number-label {
  color: black;
}

.extension-document-label {
  color: black;
}

/* ************* ASSIGNMENT EXTENSION FORM STYLING END **********/

/* MISSING MARK FORM STYLING*/
.missing-mark-form-container {
  left: 0;
}

.missing-mark-form-container input {
  margin-bottom: 15px;
  height: 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

.missing-mark-form-container input:hover {
  background-color: white;
}

.student-number-label {
  color: black;
}

.missing-mark-label {
  color: black;
}

/* ********* MISSING MARK FORM STYLING ************/

/* ASSIGNMENT WAIVER FORM STYLING */
.waiver-form-container {
  left: 0;
}

.waiver-form-container input {
  margin-bottom: 15px;
  height: 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

.waiver-form-container input:hover {
  background-color: white;
}

.student-number-label {
  color: black;
}

.waiver-label {
  color: black;
}

/* ******* ASSIGNMENT WAIVER FORM STYLING END *********/

/* MARK DISPUTE FORM STYLING*/
.mark-dispute-form-container {
  left: 0;
}

.mark-dispute-form-container input {
  margin-bottom: 15px;
  height: 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

.mark-dispute-form-container input:hover {
  background-color: white;
}

.student-number-label {
  color: black;
}

.mark-dispute-label {
  color: black;
}

/* ********* MISSING MARK FORM STYLING ************/
